/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
      --background-color: #121212;
      --text-color: #e0e0e0;
      --card-background: #333333;
      --card-hover-shadow: rgba(255, 255, 255, 0.2);
      --card-hover-transform: translateY(-8px);
    }
  }
  
  /* Apply the variables */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

.App {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adds space between elements */
  align-items: center; /* Centers child elements horizontally */
}